/* Container for the entire post section */
.posteos-container {
    min-height: 520px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    
}

/* Scrollable container for the posts */
.posts-scroll-container {
    height: 500px; /* Define the height of the scrollable area */
    overflow-y: auto;
    margin-top: 10px;
}

/* Hide the scrollbar for better UI (optional) */
.posts-scroll-container::-webkit-scrollbar {
    display: none;
}

/* Styles for individual posts */
.post {

    margin: 15px 0;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.dxd {
    display: flex;
    flex-direction: column;
}

.dxd h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.dxd p {
    margin: 0;
    font-size: 14px;
    color: #657786;
}

.post-content {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.4;
}

.post-footerA {
    display: flex;
    align-items: center;
}

.ytr-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #657786;
    font-size: 14px;
    transition: color 0.2s ease;
}

.ytr-button.liked {
    color: #e0245e;
}

.ytr {
    margin-right: 5px;
}

.post-detail-content {
    background-color: white;
    padding: 20px;
    width: 90%;
    max-width: 450px;
    height: 98vh;
    overflow-y: auto;
    position: relative;
    margin-top: 20px; /* Agrega un margen superior para dar más espacio */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}


.no-posts-message {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 300px; /* Ajusta la altura del contenedor según sea necesario */
    font-size: 15px; /* Tamaño pequeño */
    color: #000; /* Color negro */
    font-style: oblique;
    width: 100%;
}
