/* Contenedor Principal */
.config-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f8f8;
  font-family: 'Arial', sans-serif;
  padding: 0;
  position: relative;
}


/* Botón de volver atrás */
.back-button {
  position: absolute;
  top: 20px; /* Ajusta la posición */
  left: 20px; /* Ajusta la posición */
  width: 40px; /* Tamaño del botón para hacerlo circular */
  height: 40px; /* Tamaño del botón para hacerlo circular */
  background-color: #000; /* Fondo negro */
  border: none;
  border-radius: 50%; /* Hacer el botón perfectamente circular */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Sombra para darle un poco de profundidad */
  cursor: pointer;
  z-index: 1000; /* Asegurarse que esté al frente */
}


.back-button svg {
  color: #fff; /* Color blanco para la flecha */
  font-size: 18px; /* Tamaño de la flecha */
}




/* Encabezado */
.config-header {
  background-color: #157446;
  padding: 40px 20px;
  text-align: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}


.config-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
  margin-top: 15px;
}


.config-icon {
  font-size: 30px;
  color: white;
}


/* Información del Usuario */
.user-info-containerTT {
  background-color: #ffffff;
  width: 90%;
  margin: -35px auto 20px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.user-infoTT {
  display: flex;
  align-items: center;
}


.user-avatarTT {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}


.user-nameTT {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}


/* Cuerpo de Configuración */
.config-body {
  flex-grow: 1;
  padding: 0 20px;
  margin-top: 15px;
}


.config-section-title {
  color: #999;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 500;
}


.config-options {
  list-style: none;
  padding: 0;
  margin: 0;
}


.config-options li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s;
}


.config-options li:hover {
  background-color: #f0f0f0;
}


/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}


.slider.round:before {
  border-radius: 50%;
}


.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}


input:checked + .slider {
  background-color: #ff006e;
}


input:checked + .slider:before {
  transform: translateX(18px);
}


/* Pie de Página */
.config-footer {
  padding: 10px 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-bottom: 20px;
}


.logout-button {
  background-color: #ff006e;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 12px 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}


.logout-button:hover {
  background-color: #e6005c;
  transform: scale(1.05);
}


.power-icon {
  margin-right: 10px;
  font-size: 18px;
}
