.modal-overlayt {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-contentt {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
  }
  
  .modal-contentt h2 {
    margin-top: 0;
  }
  
  .modal-contentt textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  .modal-actionst {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-actionst button {
    margin-left: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-actionst button[type="submit"] {
    background-color: #1da1f2;
    color: white;
  }